################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
/ApiGateway/bin
/ApiGateway/logs
/ApiGateway/obj
/.env
